body{
    background-color: #F9F9F9;
}

/* body css */
.chapter{
    border: rgba(201, 201, 201, 0.425) 1.5px solid;
    padding: 10px;
    margin: 20px 0;
}

/* video */
.video{
    width: 100%;
    height: 50px;
}

.chapter img{
    width: 25px;
    height: 25px;
    border-radius: 100px;
}

.chapter .my-span{
    margin-left: 10px;
    color: #06c;
}

.chapter .my-span:hover{
    color: rgb(1, 72, 143);
}

.chapter .btn{
    width: 60% !important;
    text-align: left !important;
}